.about-container {
	margin-top: 0;
	background: url('../../assets/images/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 200px;
	position: relative;
}

.about-text-container {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translateY(-50%);
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	width: 50%;
}

.did-you-know, .about {
	color: white;
}

.about-blue {
	color: #1D76BB;
}
