.game-options-container {
	padding: 0;
	border: 1px solid #262626;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	background: white;
	color: #262626;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
}

.game-options-container div, .game-options-container input {
	width: 100%;
}

.game-options-header h2 {
	color: white;
	background: #262626;
	margin-top: 0;
	margin-bottom: 10px;
}

#amount-slider, #difficulty-slider {
	width: 75%;
}

.options-label {
	margin-top: 10px;
}

.game-options-container .radio-container {
	margin-top: 15px;
	width: 35%;
	margin: auto;
	text-align: left;
}

.radio-container input {
	margin-left: 15px;
	margin-right: 15px;
}

.submit {
	border: none;
	background: #1D76BB;
	color: white;
	padding: 5px;
	font-size: 1.5em;
	transition: 0.1s;
}

.submit:active {
	background: rgb(24, 98, 155);
	transition: 0.1s;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	height: 25px;
	background: #262626;
	outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #1D76BB; /* Blue background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #1D76BB; /* Blue background */
  cursor: pointer; /* Cursor on hover */
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #1D76BB;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

@media only screen and (max-width: 650px) {
	.game-options-container {
		width: 75%;
	}
}