<div clas="game-container">
  <div class="game-header">
    Select your options for your game!
  </div>
  <div class="game-options-container">
  <div class="options-label">Number of Questions: <span id="amount-questions">10</span></div>
  <input type="range" min="1" max="50" value="10" class="slider" id="amount-slider">
  <div class="options-label">Difficulty: <span id="difficulty-setting">Medium</span></div>
  <input type="range" min="0" max="4" value="2" class="slider" id="difficulty-slider">
  <div class="options-label">Type of Questions:</div>
  <input type="radio" name="type" value="any">Any
  <input type="radio" name="type" value="multiple">Multiple Choice
  <input type="radio" name="type" value="boolean">True/False
  <input type="submit">
  </div>
</div>
