<ul class="sorted-categories" *ngIf="categoryNotSelected">
  <li (click)="selectCategory('general')" class="general">
    <span class="box-content">General Knowledge</span>
  </li>
  <li (click)="selectCategory('entertainment')" class="entertainment">
    <span class="box-content">Entertainment</span>
  </li>
  <li (click)="selectCategory('science')" class="science">
    <span class="box-content">Science</span>
  </li>
  <li (click)="selectCategory('other')" class="other">
    <span class="box-content">Other</span>
  </li>
</ul>


<ul class="selected-categories" *ngIf="!categoryNotSelected">
  <li class="{{ categoryClass }}" *ngFor="let category of sortedCategories">
    <span class="box-content">{{ category.name }}</span>
  </li>
  <li (click)="goBack()" class="back">
    <span class="box-content">Go back</span>
  </li>
</ul>
