ul {
	padding: 0;
	margin: 0 20px 0 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}


li {
	justify-self: stretch;
	padding-top: 50%;
	position: relative;
	border-radius: 5px;
	list-style-type: none;
	margin: 10px;
	text-align: center;
	font-size: 1.2em;

	-webkit-box-shadow: 0 3px 2px #777;
	-moz-box-shadow: 0 3px 2px #777;
	box-shadow: 0 3px 2px #777;

	cursor: pointer;
}

li:active {
	transform: translateY(4px);
	box-shadow: none;
}

.box-content {
	position:  absolute;
	top: 25%;
	left: 0;
	bottom: 0;
	right: 0;
	color: white;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.general {
	background-image: linear-gradient(#6d7174,#1e2935);
}

.entertainment {
	background-image: linear-gradient(#4286f4,#13285e);
}

.science {
	background-image: linear-gradient(#0f9b0f,#085208);
}

.other {
	background-image: linear-gradient(#f5af19,#f12711);
}

.back {
	background-image: linear-gradient(#b42020,#5c1212);
}