<div class="header-container">
	<div class="header-logo">
		<a routerLink="/home" class="header-logo">
			<h1 class="logo-text">trivia<span class="text-blue">hero</span></h1>			
			<img src="../assets/images/logo.png" class="logo-img"/>
		</a>
	</div>
</div>

<router-outlet></router-outlet>

<div class="footer-container">
	<div class="copyright">&copy; Tyler Porter <span class="text-blue">2019</span></div>
	<ul class="links-container">
		<li class="about">
			<a href="#">About</a>
		</li>
		<li class="github">
				<a href="https://github.com/pawptart/trivia-hero">github</a>
		</li>
		<li class="contact">
				<a href="#">Contact</a>
		</li>
		<li class="contribute">
				<a href="https://opentdb.com/" target="_blank">Contribute to Open Trivia DB</a>
		</li>
	</ul>	
</div>