<div class="header-container">
	<div class="header-logo">
		<h1 class="logo-text">trivia<span class="text-blue">hero</span></h1>
		<img src="../assets/images/logo.png" class="logo-img"/>
	</div>
</div>

<app-about></app-about>
<app-categories></app-categories>
<app-game></app-game>

<div class="footer-container">
	<div class="copyright">&copy; Tyler Porter <span class="text-blue">2019</span></div>
	<ul class="links-container">
		<li class="about">
			<a href="#">About</a>
		</li>
		<li class="github">
				<a href="#">github</a>
		</li>
		<li class="contact">
				<a href="#">Contact</a>
		</li>
		<li class="contribute">
				<a href="https://opentdb.com/" target="_blank">Contribute to Open Trivia DB</a>
		</li>
	</ul>	
</div>