/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
	font-family: 'Nunito', sans-serif;
}

body {
	margin: 0;
	background-image: url('./assets/images/background.png');
	background-repeat: repeat;
}